@{
    ViewBag.Title = "Informacje";
}
<div class="row">
    <h2 class="page-title col-md-10">@ViewBag.Title</h2>

    <p class="col-md-10">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tempus sapien a neque sollicitudin cursus. Ut sed neque tempor, semper odio in, facilisis neque. Aenean elementum libero quis felis pharetra, sed finibus sem posuere. Maecenas a leo et arcu laoreet fringilla. Aliquam magna dolor, fringilla scelerisque ultrices vitae, luctus id odio. Suspendisse interdum, diam vel ultricies consectetur, nulla erat finibus justo, a scelerisque mi est eget risus. Sed vehicula semper diam, ac posuere erat fringilla id. Cras nec nulla a justo cursus commodo. In hac habitasse platea dictumst. Fusce facilisis dictum nunc sed ultrices. Fusce in magna nec urna egestas pulvinar in eu nunc.
    </p>
    <p class="col-md-10">
        Proin et vehicula tellus. Maecenas in odio turpis. Sed sed tempor libero, sed suscipit nisl. Etiam pulvinar, augue quis commodo vulputate, augue arcu suscipit velit, et vehicula nunc nisi at est. Quisque vehicula magna sed felis rhoncus pharetra. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at aliquam dolor. Morbi nec augue lobortis, venenatis nunc id, interdum est. Vestibulum eu varius urna, vel maximus nisi. Sed maximus laoreet ligula. Aenean dui neque, mattis bibendum iaculis vel, condimentum ut risus. Nulla facilisi. Nulla tellus neque, imperdiet eget quam sed, efficitur euismod purus. Proin vel gravida nunc.
    </p>
    <p class="col-md-10">
        Integer sit amet nulla dignissim, facilisis turpis at, auctor velit. Nam consectetur fringilla felis ac sollicitudin. Duis tempus neque ipsum, sit amet tincidunt neque placerat a. Etiam hendrerit vulputate sapien, aliquet laoreet sapien mollis quis. Integer est nisi, semper in consequat vel, lacinia eget odio. Proin quis blandit sem, imperdiet finibus sapien. Vivamus at sodales tellus. Sed et est diam. Aliquam erat volutpat. Sed maximus pulvinar tellus, sit amet malesuada nunc scelerisque in. Nunc mi nunc, venenatis ac suscipit in, posuere vel turpis. Etiam eget metus auctor, ultricies ante sed, consectetur est. Nullam ac sagittis purus.
    </p>
</div>