@{
    ViewBag.Title = "Kontakt";
}
<div class="row">
    <h2 class="page-title col-md-10">@ViewBag.Title</h2>


    <address class="col-md-10">
        <strong>Email:</strong>   <a href="mailto:marcin.zemlo@outlook.com">marcin.zemlo@outlook.com</a><br />
    </address>
</div>
